.page-wrap{
	max-width: 900px;
	margin:0 auto;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.form{	
	.form-item{
		padding: 3px;
	}
	.form-item{
		label{
			display: block;
			padding-bottom: 5px;
		}
	}
	input{
		line-height: 25px;
		border-radius: 3px;
		border:1px solid #ccc;
	}
	input[type=button],button{
		background-color: #F0F0F0;
		padding:0 10px;
		display: inline-block;
		color: #333;
		cursor: pointer;
		&:hover{
			color:#666;
			background-color: #EEE;
		}
	}
	textarea{
		width: 100%;
		min-height: 100px;
	}
}
.price{
	color:red;
	font-style: normal;
}

.books{
	.checkbox-inline{
		float:right;
	}
}

.pager{
	padding-top: 50px;
	a{
		display: inline-block;
		padding: 5px;
		border:1px solid #ccc;
		cursor: pointer;
		border-radius: 5px;
		min-width: 20px;
		text-align: center;
	}
}