<div class="books">
	<script type="text/html">
		<% each data as item %>
		<div class="item">
			<div class="wrap">
				<div class="checkbox-inline">
					<div>
						<label class="">
				  			选择:<input type="checkbox" name="option" value="strict" checked>
				  		</label>
			  		</div>
			  		<div>
			  			数量:<input type="text" value="1" style="width:20px;"/>
			  		</div>
				</div>
				
				<div class="pic">
					<img src="/static/img/<% item.pic %> " />
				</div>
				<div class="info">
					<b><span class="sn"><% $index+1 %></span><span class="nf">书名：</span></b>《<% item.name%>》<br />
					<b>作者：</b><% item.author %><br />
					<b class="type">分类：</b><% item.type %><br />
					<b>价格：</b><em class="price"><% item.price %></em>元　<a href="" class="buy">购买</a><br />
					<b class="desc">说明：<% item.desc %></b>
				</div>
				
			</div>
		</div>
		<% /each %>
	</script>

	
</div>
<script type="text/javascript" src='/static/data.js'></script>
<script>
	$.fn.fxui.tpl.renderDom($(".books"),{
		data:books
	})
</script>